body {
	background: #d3d4da;
}

img {
	width: 100%;
	height: 220px;
}

a {
	color: #bf9b81 !important;
	text-decoration: none !important;
}

button:focus {
	outline: none;
}

.App {
	text-align: center;
	font-family: 'Playfair Display', serif;
}

.App-header {
	padding: 30px;
	color: #404849;
	margin-bottom: 2rem;
}
.jumbotron {
	background: url('./components/img/bg.jpg') no-repeat center center;
	background-size: cover;
}

.App-title {
	font-size: 3.6rem;
	font-family: 'Dancing Script', cursive;
}

.recipe_buttons {
	border: solid 2px #bf9b81;
	background: transparent;
	padding: 0.4rem 0.6rem;
	margin: 0 0.2rem;
	border-radius: 1px;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 0.7rem;
}

.recipes__box {
	background: #d3d4da;
	padding-bottom: 2rem;
	border-radius: 5px;
	box-shadow: -1px 2px 34px -13px rgba(0, 0, 0, 0.75);
	text-align: left;
	overflow: hidden;
}

.recipe__text {
	margin-left: 15px;
}

.recipes__title {
	color: #70416d;
	text-transform: uppercase;
	font-size: 1.1rem;
	padding: 1.8rem 0 0.2rem 0;
}

.form__input {
	background: transparent;
	border: 0;
	border-bottom: solid 2px #170a19;
	margin-right: 10px;
	letter-spacing: 2px;
	width: 50%;
}

.form__button {
	border: solid 2px #816852;
	background-color: transparent;
	padding: 0.2rem 0.9rem;
	margin: 0 0.2rem;
	border-radius: 3px;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: bolder;
	margin-left: 0.7rem;
}
.form__button:hover {
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

input[type=text]:focus {
	outline: none;
	background-color: transparent;
	color: #170a19;
}

.cards {
	background: #ffffff;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
	text-align: center;
	font-family: 'Playfair Display', serif;
	transition: all .2s ease-in-out;
	cursor: pointer;
	margin: 5px;
}
.cards,
.card h2 {
	font-family: 'Dancing Script', cursive;
}

.cards:hover {
	transform: scale(1.1);
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

/******** RECIPE Details ********/

.active-recipe {
	margin: auto;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
	text-align: center;
	font-family: 'Playfair Display', serif;
	cursor: pointer;
}

.active-recipe__img {
	width: 100%;
	height: auto;
}

.active-recipe__title {
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 1rem 0;
}

.active-recipe__button {
	border: solid 2px #816852;
	background: transparent;
	padding: 0.2rem 0.9rem;
	margin: 0 0.2rem;
	border-radius: 3px;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 500;
}
