body {
	font-family: 'Permanent Marker', cursive;
	background-color: #f3f3f3;
}
img {
	width: 100%;
}

.App {
	text-align: center;
}

.header {
	text-align: center;
	padding: 32px;
	color: #00ccec;
	font-size: 1.7rem;
	font-weight: 400;
}
.row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	padding: 0 4px;
}

.active-recipe {
	margin: 0 auto;
	width: 60%;
}

.active-recipe__title {
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 1rem 0;
}

.active-recipe__publisher,
.active-recipe__website {
	text-transform: uppercase;
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

.active-recipe__publisher span {
	text-transform: none;
	font-weight: 300;
	letter-spacing: 2px;
	margin-left: 5px;
}

.active-recipe__website span {
	text-transform: lowercase;
	font-weight: 300;
	letter-spacing: 2px;
	color: #e74c3c;
	margin-left: 10px;
}

.active-recipe__button {
	border: solid 2px #e74c3c;
	background: transparent;
	padding: 0.2rem 0.9rem;
	margin: 0 0.2rem;
	border-radius: 1px;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 500;
}
